* {
    box-sizing: border-box;
    text-align: center;
}
body {
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#headcont {
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
    height: 90px;
    border-bottom: solid 2px #cccccc;
}
#navbox {
    box-align: center;
    margin: 0px auto;
    width: 960px;
    height: 90px;
    background-color:white;
    padding: 0;
    border-bottom: solid 2px #cccccc;
}
.right {float: right;}
.left{float:left;}

.home {
    background-color: #4aaaa6;
    border-color: #4aaaa6;
    border-style: none;
    color: white;
    width:250px;
    height:88px;
    margin-bottom: 8px;
    transition-duration:.2s;
    cursor: pointer;
}
.menu {
    margin-top:20px;
    margin-bottom:20px;
    width:100px;
    height:50px;
    background-color:white;
    border-color: #cccccc;
    border-style: none;
    transition-duration:.2s;
    cursor: pointer;
}

.home:hover{
    background-color: white;
    color: #4aaaa6;
}

.home:active{
    background-color: #4aaaa6;
    border-color: #4aaaa6;
    border-style: none;
    color: white;
}

.menu:hover{
    border: solid 1px #4aaaa6;
}

h1 { 
    text-align: left;
    text-indent: 24px;
    color: #4aaaa6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}
.content {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 960px;
    height: 100%;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    background-color: #ffffff;
    border: solid 1px #cccccc;
}

p {
    line-height: 2;
    text-align: justify;
    margin-inline-start: 24px;
    margin-inline-end: 24px;
    color: #666666;
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
    font-size: 18px;
}


#stickyfooter {
    position: sticky;
    top:0;
    height: 70px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-top:8px solid #4aaaa6;
    background-color: #666666;
} 
